
body {
    background-color: #fafafa;
    padding-left: 96px;
    padding-right: 96px;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #fafafa;
    overflow: hidden;
    filter: drop-shadow(#c9c9c9 0px 0px 10px);
    border-radius: 8px;
    margin-top: 24px;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #5C6670;
    text-align: center;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    color: black;
    color: #29b4a6;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: #198076;
  }

  .content {
    display: flex;
    justify-content: flex-start;
  }

  .path {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .image {
    margin-top: 24px;
    margin-right: 24px;
    border-radius: 16px;
    filter: drop-shadow(#c9c9c9 0px 0px 10px);
  }

  .creator {
    margin-top: 24px;
    font-size: 24;
    color: #444444;
  }

  .creator span {
    font-weight: bold;
  }

  .description {
    text-align: justify;
  }

  .button button{
    margin-top: 24px;
    cursor: pointer;
  }

  .enroll {
    padding: 16px 51px 16px 51px;
    border-radius: 16px;
    border: none;
    font-size: 20px;
    background-color: #198076;
    color: #fafafa;
    margin-right: 32px;
  }

  .wishlist {
    padding: 16px 32px 16px 32px;
    border-radius: 16px;
    font-size: 20px;
    border-color: #0f0f0f;
    border-width: 1px;
    background-color: #ffffff00;
    color: #0f0f0f;
  }

  .break {
    margin-top: 24px;
    margin-right: 24px;
  }

  .sub {
    justify-content: space-between;
    display: flex;
  }

  .sub p {
    color: #8d8d8d;
  }

  .cardList {
    display: flex;
    justify-content: space-between;
  }

  .card {
    max-width: 350px;
  }

  .card h3, .card p{
    text-align: center;
  }

  .card img{
    width: 350px;
    border-radius: 16px;
  }
